{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ui.css' %}"/>
<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
<!-- other browsers -->
<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
<div id="spacer" style="padding-top: 25px;"></div>
<div id="search-main">
    <div style="width:450px;font-family:system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;line-height:1.15;border:1px solid rgb(43, 135, 211);background-color:rgb(220, 242, 255);border-radius:8px;padding:8px 12px;margin:0 auto 24px;">
        <div style="margin-bottom:8px">
            <span style="font-size:24px;margin-right:8px;">&#x2139;</span>
            Hello Botanist users!
        </div>
        <div style="text-align:left;margin-bottom:16px">
            GitHub Search has been <a target="_blank" href="https://github.blog/changelog/2022-11-09-introducing-an-all-new-code-search-and-code-browsing-experience/" style="color:inherit;font-weight:bold;">significantly improved</a>
            of late, allowing users to search for lines of code within repos and across the organization in many advanced ways.<br><br>
            We now recommend using this instead of Codesearcher.
        </div>
        <div style="text-align:right">
            <a href="https://github.com/search?q=org%3Asproutsocial%20&type=code" style="color:inherit;font-weight:bold;text-align:right">Go to GitHub Search</a>
        </div>
    </div>
    botanist code search<br><br>

    <form action="/search/" method="get">
        <input id="search-box" type="text" name="q" size="70px" autofocus>
        <br>
        <br>
        <input type="hidden" name="case" value="sensitive">

        <div id="search-box-display" class="regex"></div>
        <label for="case-insensitive-input">ignore case</label>
        <input id="case-insensitive-input" name="case" type="checkbox"
               value="insensitive">
        <input type="submit" value="submit">
    </form>
</div>
<div id="search-help">
    note: searches are <a href="https://github.com/google/re2/wiki/Syntax">RE2
    (nearly PCRE) regular expressions</a>
</div>
