# nginx
NGINX_HOST=webapp
NGINX_PORT=9090

#web app, ugh, these should be normalized..
CODE_ROOT=/botanist/repos
BIN_PATH=/botanist/bin/codesearch-0.01

# Code Fetching
USE_BB=false
BB_USER=
BB_PW=
BB_TEAMS=
BB_USE_HTTP=
BB_IGNORE_REPO_LIST=

USE_GH=true
# not tied to any real org or user so not worried about committing to source
GH_USER=botanist-test-org-machine-user
GH_PW=94cd356adbed38368dffb93c379d573ba331c1ef
GH_ORGS=botanist-test-org,another-org

# LDAP Config
LDAP_URL="ldap://ldap/dc=example,dc=com?uid?sub?(objectClass=person)"
LDAP_BIND_DN="cn=admin,dc=example,dc=com"
LDAP_BIND_DN_PASSWD="admin"
LDAP_REQUIRE_GROUP="cn=docker,ou=groups,dc=example,dc=com"
LDAP_GROUP_ATTRIBUTE="member"
LDAP_GROUP_ATTRIBUTE_IS_DN="on"
